.Independent circle {
    fill: gray;
}
.Pro-Administration circle {
    fill: green;
}
.Federalist circle {
    fill: darkgreen;
}
.Anti-Administration circle {
    fill: turquoise;
}
.Democrat-Republican circle {
    fill: darkblue;
}
.Republican circle {
    fill: red;
}
.IndRepublican circle {
    fill: darkred;
}
.Democrat circle {
    fill: blue;
}
.Unionist circle {
    fill: orange;
}
.UnconditionalUnionist circle {
    fill: darkorange;
}
.IndDemocrat {
    fill: darkslateblue;
}
.Adams-ClayRepublican {
    fill: lightyellow;
}
.JacksonRepublican {
    fill: lightblue;
}
.CrawfordRepublican {
    fill: darkblue;
}
.Adams-ClayFederalist {
    fill: forestgreen;
}
.JacksonFederalist {
    fill: lightgreen;
}
.CrawfordFederalist {
    fill: darkgreen;
}
.Adams {
    fill: lightyellow;
}
.Jackson {
    fill: lightgreen;
}
.Whig {
    fill: beige;
}