body {
    overflow: hidden;
}
div.tooltip {
    color: white;
    position: absolute;
    width: auto;
    height: auto;
    padding: 0.8em;
    font: 1rem sans-serif;
    background: rgb(119, 136, 153);
    border: 2px solid black;
    pointer-events: none;
}
.centered div {
    margin: 0 auto;
    max-width: 88%;    
}
circle {
    stroke: black;
}
#biography {
    height: 100vh;
    overflow: auto;
}
#congress {
    height: 100vh;
    overflow: auto;
}
#app {
    height: 100vh;
}
.houseSenateGrid {
    grid-template-columns: 2;
    grid-template-rows: 1;
}
#house_holder {
    grid-column-start: 1;
    grid-column-end: span 1;
}
#senate_holder {
    grid-column-start: 2;
    grid-column-end: span 1;
}