<!doctype html>
<html>
<head>
    <title>VoteView Visualizations</title>
    <link rel="stylesheet" href="https://unpkg.com/teutonic-css@0.7.13/teutonic.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='visualizations.css') }}">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='congress-vis.js') }}"></script>
</head>
<body>
    <div id="app" class="centered">
    <!-- This will be especially useful when I put Vue in here -->
        <div id="controls">
          Congress: 
          <select class="select read_s" id="congress_num_select" onchange="showCongress()">
          
          </select>
        </div>
    </div>
    <script>
    // Get the data 
    var margins = {
    	width: 250,
        height: 250
    }
    
    var svg = d3.select('#app')
	    .append('svg')
        .attr('width', margins.width)
        .attr('height', margins.height);
    
    // auto-invoker
    (function() {
      // populate select tag
       
      d3.select('#congress_num_select')
        .selectAll('option')
        .data(d3.range(1, 116))
        .enter()
        .append('option')
        .attr('value', function(d) { return d; })
        .text(function(d) { return d; });
      
    })();
    </script>
</body>
</html>
